.Main {

    text-align: center;
    width: 500px;
    min-width: 500px;
    max-width: 100%;
    height: auto;
    display:inline-block;
    position: relative;
    margin: auto;
    
}

.Weather {

    text-align: center;
    padding: 10;
    display: inline-flex;
    overflow: hidden;
    width: 500px;
    color: red;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    height: 200px;
    border: 0px; 
    background-color: #222;
    position: sticky;
   
         
}

@media only screen and (max-width: 600px) {
    
    .Weather {

        text-align: match-parent;
        
        display: inline-block;
        justify-content:space-around;
        overflow: hidden;
        width: 200px;
        color: red;
        padding: 5px;
       
        text-align:center;
        border-radius: 25px;
        height: 900px;
        border: 5px; 
        background-color: #222;
        position: sticky;
        
        
       
             
    }

}
