.Main {

    text-align: center;
    width: 500px;
    min-width: 500px;
    max-width: 100%;
    height: auto;
    display:inline-block;
    position: relative;
    margin: auto;
    
}

.Weather {

    text-align: center;
    padding: 10;
    display: inline-flex;
    overflow: hidden;
    width: 500px;
    color: red;
    padding: 30px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    height: 200px;
    border: 0px; 
    background-color: #222;
    position: sticky;
   
         
}
