.header {
  width: 100vp;
  height: 100%;
  display: flex;
  align-items: center;
  position: sticky;

  z-index: 5;
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
    
}

.header-title {
    font-size: 1.5em;
    color: white;
  }

  