.Main {
 
    text-align: center;
    height: 100vp;
    width: 100%;
    position: fixed;
    justify-content: top;
 
}

.Card {
   
    margin: auto;
  
    border-radius: 25px;  
    width: 300px;
    height: 180px;
    
    border: 20px; 
    text-align: center;

  color: red;
  padding: 20px;

background-color: #222;

}

img {
    margin-top:-40px;
    vertical-align: middle;        
}

