.Main {
 
    text-align: center;
    height:100%;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    position: fixed;
    display: inline-block;
    align-items: center;

  
    
}

.Card {
   
    margin: auto;
    border-radius: 25px;  
    width: 300px;
    height: 180px;
    border: 20px; 
    text-align: center;
    color: red;
    padding: 20px;
    background-color: #222;

}

img {
    margin-top:-40px;
    vertical-align: middle;        
}

