
.nav-links {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  justify-content:  center;
  align-items: center;
  white-space: nowrap;
  
 


  }

  .nav-links a {
    border: 1px solid transparent;
    color: red;
    text-decoration: none;
    padding: 0.5rem;
    
  }

  .nav-links li {
    margin: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
  
 



  